h1
{ 
    text-align: center;
    color: white;
}

p
{
    text-align: center;
    color: white;
}

img
{
    text-align: center;    
}

h2
{ 
    text-align: center;
    color:white;
}

body
{
    background-color: rgba(233,235,238,255);
}

#banner
{
    background-color: rgba(0,63,140,255);
}
